In [1]:
import pandas as pd

In [2]:
dtypes = {'event_time':'category', 'event_type' : 'category','category_code' : 'category', 
          'brand' : 'category', 'user_session' : 'category'}

In [5]:
# Initialize an empty list to store the chunks
chunks = []

# Read in the chunks one by one an`d append them to the list
for chunk in pd.read_csv('/Users/hollyyoon/Desktop/2019-Nov.csv', chunksize=100000, dtype=dtypes):
    chunks.append(chunk)

# Concatenate all the chunks into a single DataFrame
df = pd.concat(chunks)

# Sample 1 million rows randomly
df_sampled = df.sample(n=10000000)

df_sampled.to_parquet('/Users/hollyyoon/Desktop/2019-Nov.parquet', compression="gzip")

In [4]:
chunks2=[]
for chunk in pd.read_csv('/Users/hollyyoon/Downloads/2019-Oct.csv', chunksize=100000, dtype=dtypes):
    chunks2.append(chunk)
df2 = pd.concat(chunks2)
df_sampled2 = df2.sample(n=10000000)
df_sampled2.to_parquet('/Users/hollyyoon/Desktop/2019-Oct.parquet', compression="gzip")

In [7]:
df_oct = pd.read_parquet('/Users/hollyyoon/Desktop/2019-Oct.parquet')
df_nov = pd.read_parquet('/Users/hollyyoon/Desktop/2019-Nov.parquet')

In [10]:
df_all = pd.concat([df_oct, df_nov])
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000000 entries, 29857089 to 47925311
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 1.5+ GB

In [13]:
df_all.describe()

         product_id   category_id         price       user_id
count  2.000000e+07  2.000000e+07  2.000000e+07  2.000000e+07
mean   1.153514e+07  2.057658e+18  2.914537e+02  5.360900e+08
std    1.485326e+07  1.932052e+16  3.570891e+02  2.098433e+07
min    1.000978e+06  2.053014e+18  0.000000e+00  2.951588e+07
25%    1.005239e+06  2.053014e+18  6.718000e+01  5.162052e+08
50%    5.100375e+06  2.053014e+18  1.647400e+02  5.320230e+08
75%    1.690017e+07  2.053014e+18  3.601100e+02  5.553693e+08
max    1.000286e+08  2.187708e+18  2.574070e+03  5.799697e+08

In [14]:
string = ['event_time', 'event_type', 'category_code', 'brand', 'user_session']
number = ['product_id', 'category_id', 'user_id']

for i in string:
    df_all[i]=df_all[i].astype("category")

for y in number:
    df_all[y]=pd.to_numeric(df_all[y], downcast='unsigned')

In [15]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000000 entries, 29857089 to 47925311
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     category
 1   event_type     category
 2   product_id     uint32
 3   category_id    uint64
 4   category_code  category
 5   brand          category
 6   price          float64
 7   user_id        uint32
 8   user_session   category
dtypes: category(5), float64(1), uint32(2), uint64(1)
memory usage: 1.3 GB

In [16]:
df_all.to_parquet('/Users/hollyyoon/Desktop/6candoit.parquet', compression="gzip")