<a href="https://colab.research.google.com/github/hollyisyoon/TIL/blob/main/%5B%EC%9C%A4%ED%9B%88%EC%98%81%5Dmid_%EB%B2%A0%EC%9D%B4%EC%8A%A4%EB%9D%BC%EC%9D%B8%EB%AA%A8%EB%8D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
import pandas as pd
test = pd.read_csv('/content/drive/Shareddrives/네번째_으싸으싸팀/분석중/데이터/원본/test.csv')
train = pd.read_csv('/content/drive/Shareddrives/네번째_으싸으싸팀/분석중/데이터/원본/train.csv')
sub = pd.read_csv('/content/drive/Shareddrives/네번째_으싸으싸팀/분석중/데이터/원본/sample_submission.csv')
holiday = pd.read_csv('/content/drive/Shareddrives/네번째_으싸으싸팀/분석중/데이터/16_22공휴일.csv')

In [96]:
df = pd.concat([train, test], axis=0)
df['본사근무자수']=df['본사정원수']-df['본사휴가자수']-df['본사출장자수']-df['현본사소속재택근무자수']
df['근무대비중식계']=df['중식계']/df['본사근무자수']
df['근무대비석식계']=df['석식계']/df['본사근무자수']
df['일자'] = pd.to_datetime(df['일자'])
df['년'] = df['일자'].dt.year
df['월'] = df['일자'].dt.month
df['일'] = df['일자'].dt.day
df['주'] = df['일자'].dt.week
df.tail()

<ipython-input-96-37c60d8e4ef0>:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['주'] = df['일자'].dt.week

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계,본사근무자수,근무대비중식계,근무대비석식계,년,월,일,주
45,2021-04-05,월,2973,125,174,704,331.0,모닝롤/커피콩빵 우유/주스 계란후라이 누룽지탕/흑미밥 청양콩나물국 스팸구이 양상추샐...,쌀밥/흑미밥/찰현미밥 쇠고기미역국 춘천닭갈비 오지치즈후라이 가지두반장볶음 포기김치 ...,흑미밥 돈육고추장찌개 갈치구이 김치전 취나물무침 깍두기,NaN,NaN,2343.0,NaN,NaN,2021,4,5,14
46,2021-04-06,화,2973,76,170,636,364.0,모닝롤/모닝샌드 우유/주스 계란후라이 고구마스프/흑미밥 아욱국 참치채소볶음 양상추샐...,쌀밥/귀리밥/찰현미밥 순두부백탕 매콤소갈비찜 깻잎완자전 돌나물초장무침 포기김치 시리...,추가밥 짬뽕*생면 수제찹쌀꿔바로우 메추리알곤약장조림 단무지무침 포기김치,NaN,NaN,2363.0,NaN,NaN,2021,4,6,14
47,2021-04-07,수,2973,96,214,1,334.0,모닝롤/호떡맥모닝 우유/주스 계란후라이 팥죽/흑미밥 닭살해장국 우엉채조림 양상추샐러...,쌀밥/흑미밥/찰현미밥 냉이국 돈육간장불고기 비빔냉면 오이나물볶음 겉절이김치 양상추샐...,단호박카레라이스 시금치된장국 소떡소떡 파프리카해초무침 감귤쥬스 포기김치,NaN,NaN,2329.0,NaN,NaN,2021,4,7,14
48,2021-04-08,목,2973,105,238,509,324.0,모닝롤/크로크무슈 우유/주스 계란후라이 누룽지탕/흑미밥 감자국 두부양념조림 양상추샐...,쌀밥/옥수수밥/찰현미밥 맑은떡국 (New)로제찜닭 가자미구이*장 유채나물무침 포기김...,흑미밥 어묵매운탕 쇠고기숙주볶음 채소계란찜 쑥갓생무침 김치볶음,NaN,NaN,2306.0,NaN,NaN,2021,4,8,14
49,2021-04-09,금,2973,259,268,0,229.0,모닝롤/토마토샌드 우유/주스 계란후라이 채소죽/흑미밥 대구지리 애호박나물볶음 양상추...,쌀밥/흑미밥/찰현미밥 사골우거지국 해물누룽지탕 청포묵*양념간장 비름나물고추장무침 석...,흑미밥 맑은버섯국 매운사태조림 춘권*타르타르D 열무나물무침 포기김치,NaN,NaN,2217.0,NaN,NaN,2021,4,9,14

In [ ]:
holiday.head(3)

          날짜   공휴일
5 2016-05-05  어린이날
7 2016-06-06   현충일
8 2016-08-15   광복절

In [97]:
#공휴일 
holiday = holiday.iloc[1:82,:]
holiday['날짜'] = pd.to_datetime(holiday['날짜'])
holiday = holiday[['날짜', '공휴일']]
all_holiday = pd.merge(df, holiday, how='outer', left_on='일자', right_on='날짜')
all_holiday = all_holiday.sort_values(by='일자')
holiday_idx = all_holiday['공휴일'].notna() #공휴일 여부를 확인해주고
all_holiday.loc[holiday_idx.shift(-1, fill_value=False) | holiday_idx.shift(1, fill_value=False) | holiday_idx, '공휴일_YN'] = 1 # 해당 행의 윗행, 아래행, 해당 행에 '공휴일_YN' column을 추가하고 값을 1로 설정
all_holiday.loc[all_holiday['공휴일_YN'].isna(), '공휴일_YN'] = 0

#평일 데이터만 필요함으로 
all_holiday = all_holiday[all_holiday['요일'].isin(['월', '화', '수', '목', '금'])]
all_holiday.tail(3)

<ipython-input-97-2fd92829a3a5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holiday['날짜'] = pd.to_datetime(holiday['날짜'])

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,...,본사근무자수,근무대비중식계,근무대비석식계,년,월,일,주,날짜,공휴일,공휴일_YN
1252,2021-04-07,수,2973.0,96.0,214.0,1.0,334.0,모닝롤/호떡맥모닝 우유/주스 계란후라이 팥죽/흑미밥 닭살해장국 우엉채조림 양상추샐러...,쌀밥/흑미밥/찰현미밥 냉이국 돈육간장불고기 비빔냉면 오이나물볶음 겉절이김치 양상추샐...,단호박카레라이스 시금치된장국 소떡소떡 파프리카해초무침 감귤쥬스 포기김치,...,2329.0,NaN,NaN,2021.0,4.0,7.0,14.0,NaT,NaN,0.0
1253,2021-04-08,목,2973.0,105.0,238.0,509.0,324.0,모닝롤/크로크무슈 우유/주스 계란후라이 누룽지탕/흑미밥 감자국 두부양념조림 양상추샐...,쌀밥/옥수수밥/찰현미밥 맑은떡국 (New)로제찜닭 가자미구이*장 유채나물무침 포기김...,흑미밥 어묵매운탕 쇠고기숙주볶음 채소계란찜 쑥갓생무침 김치볶음,...,2306.0,NaN,NaN,2021.0,4.0,8.0,14.0,NaT,NaN,0.0
1254,2021-04-09,금,2973.0,259.0,268.0,0.0,229.0,모닝롤/토마토샌드 우유/주스 계란후라이 채소죽/흑미밥 대구지리 애호박나물볶음 양상추...,쌀밥/흑미밥/찰현미밥 사골우거지국 해물누룽지탕 청포묵*양념간장 비름나물고추장무침 석...,흑미밥 맑은버섯국 매운사태조림 춘권*타르타르D 열무나물무침 포기김치,...,2217.0,NaN,NaN,2021.0,4.0,9.0,14.0,NaT,NaN,1.0

In [140]:
df = all_holiday[['일자', '요일', '년', '월', '일', '주', '공휴일_YN', '본사근무자수', '본사시간외근무명령서승인건수', '중식메뉴', '석식메뉴', '중식계', '석식계']]
df

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2016.0,2.0,4.0,5.0,0.0,2277.0,355.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2016.0,2.0,5.0,5.0,0.0,2142.0,34.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-04-05,월,2021.0,4.0,5.0,14.0,0.0,2343.0,704.0,쌀밥/흑미밥/찰현미밥 쇠고기미역국 춘천닭갈비 오지치즈후라이 가지두반장볶음 포기김치 ...,흑미밥 돈육고추장찌개 갈치구이 김치전 취나물무침 깍두기,NaN,NaN
1251,2021-04-06,화,2021.0,4.0,6.0,14.0,0.0,2363.0,636.0,쌀밥/귀리밥/찰현미밥 순두부백탕 매콤소갈비찜 깻잎완자전 돌나물초장무침 포기김치 시리...,추가밥 짬뽕*생면 수제찹쌀꿔바로우 메추리알곤약장조림 단무지무침 포기김치,NaN,NaN
1252,2021-04-07,수,2021.0,4.0,7.0,14.0,0.0,2329.0,1.0,쌀밥/흑미밥/찰현미밥 냉이국 돈육간장불고기 비빔냉면 오이나물볶음 겉절이김치 양상추샐...,단호박카레라이스 시금치된장국 소떡소떡 파프리카해초무침 감귤쥬스 포기김치,NaN,NaN
1253,2021-04-08,목,2021.0,4.0,8.0,14.0,0.0,2306.0,509.0,쌀밥/옥수수밥/찰현미밥 맑은떡국 (New)로제찜닭 가자미구이*장 유채나물무침 포기김...,흑미밥 어묵매운탕 쇠고기숙주볶음 채소계란찜 쑥갓생무침 김치볶음,NaN,NaN
1254,2021-04-09,금,2021.0,4.0,9.0,14.0,1.0,2217.0,0.0,쌀밥/흑미밥/찰현미밥 사골우거지국 해물누룽지탕 청포묵*양념간장 비름나물고추장무침 석...,흑미밥 맑은버섯국 매운사태조림 춘권*타르타르D 열무나물무침 포기김치,NaN,NaN

In [141]:
df['중식메뉴'] = df['중식메뉴'].str.split(' ')
df['석식메뉴'] = df['석식메뉴'].str.split(' ')
df.head(3)

<ipython-input-141-45fcf7bb0a71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['중식메뉴'] = df['중식메뉴'].str.split(' ')
<ipython-input-141-45fcf7bb0a71>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['석식메뉴'] = df['석식메뉴'].str.split(' ')

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, (쌀,현미흑미:국내산), 오징어찌개, , 쇠불고기, (쇠고기:호주산...","[쌀밥/잡곡밥, (쌀,현미흑미:국내산), 육개장, , 자반고등어구이, , 두부조림,...",1039.0,331.0
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, (쌀,현미흑미:국내산), 김치찌개, , 가자미튀김, , 모둠소세지구...","[콩나물밥*양념장, (쌀,현미흑미:국내산), 어묵국, , 유산슬, (쇠고기:호주산)...",867.0,560.0
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, (쌀,현미흑미:국내산), 팽이장국, , 치킨핑거, (닭고기:국내산), ...","[쌀밥/잡곡밥, (쌀,현미흑미:국내산), 청국장찌개, , 황태양념구이, (황태:러시...",1017.0,573.0

In [142]:
import re
def remove(col):
    pattern = r'\([^)]*\)'
    col = [re.sub(pattern, '', item).strip() for item in col if item and not re.search(pattern, item)]
    return col

In [143]:
df['중식메뉴'] = df['중식메뉴'].apply(remove)
df['석식메뉴'] = df['석식메뉴'].apply(remove)
df.head(3)

<ipython-input-143-4f2d8e74c4e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['중식메뉴'] = df['중식메뉴'].apply(remove)
<ipython-input-143-4f2d8e74c4e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['석식메뉴'] = df['석식메뉴'].apply(remove)

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...","[콩나물밥*양념장, 어묵국, 유산슬, 아삭고추무침, 바나나, 포기김치]",867.0,560.0
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]","[쌀밥/잡곡밥, 청국장찌개, 황태양념구이, 고기전, 새송이버섯볶음, 포기김치]",1017.0,573.0

In [144]:
#메뉴 분리 및 메인메뉴만 수합
#민규님 코드 참고
def menu_split(df, col):
    rice = [row[0] if len(row) > 2 else row for row in df[col].values]
    soup = [row[1] if len(row) > 2 else row for row in df[col].values]
    main = [row[2] if len(row) > 2 else row for row in df[col].values]
    df[f'{col[:2]}_밥'] = rice
    df[f'{col[:2]}_국'] = soup
    df[f'{col[:2]}_메인'] = main
    return df

In [145]:
menu_split(df, '중식메뉴')

<ipython-input-144-516268680b89>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{col[:2]}_밥'] = rice
<ipython-input-144-516268680b89>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{col[:2]}_국'] = soup
<ipython-input-144-516268680b89>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{col[:2]}_메인'] = main

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0,쌀밥/잡곡밥,오징어찌개,쇠불고기
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...","[콩나물밥*양념장, 어묵국, 유산슬, 아삭고추무침, 바나나, 포기김치]",867.0,560.0,쌀밥/잡곡밥,김치찌개,가자미튀김
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]","[쌀밥/잡곡밥, 청국장찌개, 황태양념구이, 고기전, 새송이버섯볶음, 포기김치]",1017.0,573.0,카레덮밥,팽이장국,치킨핑거
3,2016-02-04,목,2016.0,2.0,4.0,5.0,0.0,2277.0,355.0,"[쌀밥/잡곡밥, 쇠고기무국, 주꾸미볶음, 부추전, 시금치나물, 요구르트, 포기김치]","[미니김밥*겨자장, 우동, 멕시칸샐러드, 군고구마, 무피클, 포기김치]",978.0,525.0,쌀밥/잡곡밥,쇠고기무국,주꾸미볶음
4,2016-02-05,금,2016.0,2.0,5.0,5.0,0.0,2142.0,34.0,"[쌀밥/잡곡밥, 떡국, 돈육씨앗강정, 우엉잡채, 청경채무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 차돌박이찌개, 닭갈비, 감자소세지볶음, 콩나물무침, 포기김치]",925.0,330.0,쌀밥/잡곡밥,떡국,돈육씨앗강정
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-04-05,월,2021.0,4.0,5.0,14.0,0.0,2343.0,704.0,"[쌀밥/흑미밥/찰현미밥, 쇠고기미역국, 춘천닭갈비, 오지치즈후라이, 가지두반장볶음,...","[흑미밥, 돈육고추장찌개, 갈치구이, 김치전, 취나물무침, 깍두기]",NaN,NaN,쌀밥/흑미밥/찰현미밥,쇠고기미역국,춘천닭갈비
1251,2021-04-06,화,2021.0,4.0,6.0,14.0,0.0,2363.0,636.0,"[쌀밥/귀리밥/찰현미밥, 순두부백탕, 매콤소갈비찜, 깻잎완자전, 돌나물초장무침, 포...","[추가밥, 짬뽕*생면, 수제찹쌀꿔바로우, 메추리알곤약장조림, 단무지무침, 포기김치]",NaN,NaN,쌀밥/귀리밥/찰현미밥,순두부백탕,매콤소갈비찜
1252,2021-04-07,수,2021.0,4.0,7.0,14.0,0.0,2329.0,1.0,"[쌀밥/흑미밥/찰현미밥, 냉이국, 돈육간장불고기, 비빔냉면, 오이나물볶음, 겉절이김...","[단호박카레라이스, 시금치된장국, 소떡소떡, 파프리카해초무침, 감귤쥬스, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,냉이국,돈육간장불고기
1253,2021-04-08,목,2021.0,4.0,8.0,14.0,0.0,2306.0,509.0,"[쌀밥/옥수수밥/찰현미밥, 맑은떡국, 가자미구이*장, 유채나물무침, 포기김치, 양상...","[흑미밥, 어묵매운탕, 쇠고기숙주볶음, 채소계란찜, 쑥갓생무침, 김치볶음]",NaN,NaN,쌀밥/옥수수밥/찰현미밥,맑은떡국,가자미구이*장
1254,2021-04-09,금,2021.0,4.0,9.0,14.0,1.0,2217.0,0.0,"[쌀밥/흑미밥/찰현미밥, 사골우거지국, 해물누룽지탕, 청포묵*양념간장, 비름나물고추...","[흑미밥, 맑은버섯국, 매운사태조림, 춘권*타르타르D, 열무나물무침, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,사골우거지국,해물누룽지탕

In [146]:
#석식메뉴가 없을 경우(석식계가 0인 Case + 석식메뉴가 없는 경우) 석식메뉴 전체를 공란으로 비운다
df.loc[(df['석식계'] == 0) | (df['석식메뉴'].apply(len) < 2), '석식메뉴'] = df.loc[(df['석식계'] == 0) | (df['석식메뉴'].apply(len) < 2), '석식메뉴'].apply(lambda x: '' if isinstance(x, list) else x)

In [147]:
df[(df['석식계'] == 0) | (df['석식메뉴'].apply(len) < 2)].head(3)

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인
204,2016-11-30,수,2016.0,11.0,30.0,48.0,0.0,2414.0,0.0,"[나물비빔밥, 가쯔오장국, 치킨핑거*요거트D, 감자샐러드, 오복지무침, 포기김치]",,1109.0,0.0,나물비빔밥,가쯔오장국,치킨핑거*요거트D
224,2016-12-28,수,2016.0,12.0,28.0,52.0,0.0,2314.0,0.0,"[콩나물밥, 가쯔오장국, 미트볼케찹조림, 꽃맛살샐러드, 군고구마, 배추겉절이]",,767.0,0.0,콩나물밥,가쯔오장국,미트볼케찹조림
244,2017-01-25,수,2017.0,1.0,25.0,4.0,0.0,2415.0,0.0,"[카레덮밥, 맑은국, 유린기, 개성감자만두, 오이사과무침, 포기김치]",,720.0,0.0,카레덮밥,맑은국,유린기

In [148]:
menu_split(df, '석식메뉴')

<ipython-input-144-516268680b89>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{col[:2]}_밥'] = rice
<ipython-input-144-516268680b89>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{col[:2]}_국'] = soup
<ipython-input-144-516268680b89>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{col[:2]}_메인'] = main

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인,석식_밥,석식_국,석식_메인
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0,쌀밥/잡곡밥,오징어찌개,쇠불고기,쌀밥/잡곡밥,육개장,자반고등어구이
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...","[콩나물밥*양념장, 어묵국, 유산슬, 아삭고추무침, 바나나, 포기김치]",867.0,560.0,쌀밥/잡곡밥,김치찌개,가자미튀김,콩나물밥*양념장,어묵국,유산슬
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]","[쌀밥/잡곡밥, 청국장찌개, 황태양념구이, 고기전, 새송이버섯볶음, 포기김치]",1017.0,573.0,카레덮밥,팽이장국,치킨핑거,쌀밥/잡곡밥,청국장찌개,황태양념구이
3,2016-02-04,목,2016.0,2.0,4.0,5.0,0.0,2277.0,355.0,"[쌀밥/잡곡밥, 쇠고기무국, 주꾸미볶음, 부추전, 시금치나물, 요구르트, 포기김치]","[미니김밥*겨자장, 우동, 멕시칸샐러드, 군고구마, 무피클, 포기김치]",978.0,525.0,쌀밥/잡곡밥,쇠고기무국,주꾸미볶음,미니김밥*겨자장,우동,멕시칸샐러드
4,2016-02-05,금,2016.0,2.0,5.0,5.0,0.0,2142.0,34.0,"[쌀밥/잡곡밥, 떡국, 돈육씨앗강정, 우엉잡채, 청경채무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 차돌박이찌개, 닭갈비, 감자소세지볶음, 콩나물무침, 포기김치]",925.0,330.0,쌀밥/잡곡밥,떡국,돈육씨앗강정,쌀밥/잡곡밥,차돌박이찌개,닭갈비
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-04-05,월,2021.0,4.0,5.0,14.0,0.0,2343.0,704.0,"[쌀밥/흑미밥/찰현미밥, 쇠고기미역국, 춘천닭갈비, 오지치즈후라이, 가지두반장볶음,...","[흑미밥, 돈육고추장찌개, 갈치구이, 김치전, 취나물무침, 깍두기]",NaN,NaN,쌀밥/흑미밥/찰현미밥,쇠고기미역국,춘천닭갈비,흑미밥,돈육고추장찌개,갈치구이
1251,2021-04-06,화,2021.0,4.0,6.0,14.0,0.0,2363.0,636.0,"[쌀밥/귀리밥/찰현미밥, 순두부백탕, 매콤소갈비찜, 깻잎완자전, 돌나물초장무침, 포...","[추가밥, 짬뽕*생면, 수제찹쌀꿔바로우, 메추리알곤약장조림, 단무지무침, 포기김치]",NaN,NaN,쌀밥/귀리밥/찰현미밥,순두부백탕,매콤소갈비찜,추가밥,짬뽕*생면,수제찹쌀꿔바로우
1252,2021-04-07,수,2021.0,4.0,7.0,14.0,0.0,2329.0,1.0,"[쌀밥/흑미밥/찰현미밥, 냉이국, 돈육간장불고기, 비빔냉면, 오이나물볶음, 겉절이김...","[단호박카레라이스, 시금치된장국, 소떡소떡, 파프리카해초무침, 감귤쥬스, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,냉이국,돈육간장불고기,단호박카레라이스,시금치된장국,소떡소떡
1253,2021-04-08,목,2021.0,4.0,8.0,14.0,0.0,2306.0,509.0,"[쌀밥/옥수수밥/찰현미밥, 맑은떡국, 가자미구이*장, 유채나물무침, 포기김치, 양상...","[흑미밥, 어묵매운탕, 쇠고기숙주볶음, 채소계란찜, 쑥갓생무침, 김치볶음]",NaN,NaN,쌀밥/옥수수밥/찰현미밥,맑은떡국,가자미구이*장,흑미밥,어묵매운탕,쇠고기숙주볶음
1254,2021-04-09,금,2021.0,4.0,9.0,14.0,1.0,2217.0,0.0,"[쌀밥/흑미밥/찰현미밥, 사골우거지국, 해물누룽지탕, 청포묵*양념간장, 비름나물고추...","[흑미밥, 맑은버섯국, 매운사태조림, 춘권*타르타르D, 열무나물무침, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,사골우거지국,해물누룽지탕,흑미밥,맑은버섯국,매운사태조림

In [149]:
df[(df['석식계'] == 0) | (df['석식메뉴'].apply(len) < 2)].head(3)

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인,석식_밥,석식_국,석식_메인
204,2016-11-30,수,2016.0,11.0,30.0,48.0,0.0,2414.0,0.0,"[나물비빔밥, 가쯔오장국, 치킨핑거*요거트D, 감자샐러드, 오복지무침, 포기김치]",,1109.0,0.0,나물비빔밥,가쯔오장국,치킨핑거*요거트D,,,
224,2016-12-28,수,2016.0,12.0,28.0,52.0,0.0,2314.0,0.0,"[콩나물밥, 가쯔오장국, 미트볼케찹조림, 꽃맛살샐러드, 군고구마, 배추겉절이]",,767.0,0.0,콩나물밥,가쯔오장국,미트볼케찹조림,,,
244,2017-01-25,수,2017.0,1.0,25.0,4.0,0.0,2415.0,0.0,"[카레덮밥, 맑은국, 유린기, 개성감자만두, 오이사과무침, 포기김치]",,720.0,0.0,카레덮밥,맑은국,유린기,,,

In [150]:
def menu_processing(df, col):
    rice = []
    for row in df[col].values:
        if '/' in row:
            rice.append(row.split('/')[0].strip())
        elif '*' in row:
            try: 
                rice.append(row.split('*')[0].strip())
            except:
                rice.append(str(row).split('*')[0].strip())
        else:
            try:
                rice.append(row.strip())
            except:
                rice.append(row)
    df[col] = rice
    return df

In [134]:
menu_processing(df, '중식_메인')

<ipython-input-133-a78856e6a9a9>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = rice

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인,석식_밥,석식_국,석식_메인
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0,쌀밥/잡곡밥,오징어찌개,쇠불고기,쌀밥/잡곡밥,육개장,자반고등어구이
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...","[콩나물밥*양념장, 어묵국, 유산슬, 아삭고추무침, 바나나, 포기김치]",867.0,560.0,쌀밥/잡곡밥,김치찌개,가자미튀김,콩나물밥*양념장,어묵국,유산슬
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]","[쌀밥/잡곡밥, 청국장찌개, 황태양념구이, 고기전, 새송이버섯볶음, 포기김치]",1017.0,573.0,카레덮밥,팽이장국,치킨핑거,쌀밥/잡곡밥,청국장찌개,황태양념구이
3,2016-02-04,목,2016.0,2.0,4.0,5.0,0.0,2277.0,355.0,"[쌀밥/잡곡밥, 쇠고기무국, 주꾸미볶음, 부추전, 시금치나물, 요구르트, 포기김치]","[미니김밥*겨자장, 우동, 멕시칸샐러드, 군고구마, 무피클, 포기김치]",978.0,525.0,쌀밥/잡곡밥,쇠고기무국,주꾸미볶음,미니김밥*겨자장,우동,멕시칸샐러드
4,2016-02-05,금,2016.0,2.0,5.0,5.0,0.0,2142.0,34.0,"[쌀밥/잡곡밥, 떡국, 돈육씨앗강정, 우엉잡채, 청경채무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 차돌박이찌개, 닭갈비, 감자소세지볶음, 콩나물무침, 포기김치]",925.0,330.0,쌀밥/잡곡밥,떡국,돈육씨앗강정,쌀밥/잡곡밥,차돌박이찌개,닭갈비
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-04-05,월,2021.0,4.0,5.0,14.0,0.0,2343.0,704.0,"[쌀밥/흑미밥/찰현미밥, 쇠고기미역국, 춘천닭갈비, 오지치즈후라이, 가지두반장볶음,...","[흑미밥, 돈육고추장찌개, 갈치구이, 김치전, 취나물무침, 깍두기]",NaN,NaN,쌀밥/흑미밥/찰현미밥,쇠고기미역국,춘천닭갈비,흑미밥,돈육고추장찌개,갈치구이
1251,2021-04-06,화,2021.0,4.0,6.0,14.0,0.0,2363.0,636.0,"[쌀밥/귀리밥/찰현미밥, 순두부백탕, 매콤소갈비찜, 깻잎완자전, 돌나물초장무침, 포...","[추가밥, 짬뽕*생면, 수제찹쌀꿔바로우, 메추리알곤약장조림, 단무지무침, 포기김치]",NaN,NaN,쌀밥/귀리밥/찰현미밥,순두부백탕,매콤소갈비찜,추가밥,짬뽕*생면,수제찹쌀꿔바로우
1252,2021-04-07,수,2021.0,4.0,7.0,14.0,0.0,2329.0,1.0,"[쌀밥/흑미밥/찰현미밥, 냉이국, 돈육간장불고기, 비빔냉면, 오이나물볶음, 겉절이김...","[단호박카레라이스, 시금치된장국, 소떡소떡, 파프리카해초무침, 감귤쥬스, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,냉이국,돈육간장불고기,단호박카레라이스,시금치된장국,소떡소떡
1253,2021-04-08,목,2021.0,4.0,8.0,14.0,0.0,2306.0,509.0,"[쌀밥/옥수수밥/찰현미밥, 맑은떡국, 가자미구이*장, 유채나물무침, 포기김치, 양상...","[흑미밥, 어묵매운탕, 쇠고기숙주볶음, 채소계란찜, 쑥갓생무침, 김치볶음]",NaN,NaN,쌀밥/옥수수밥/찰현미밥,맑은떡국,가자미구이,흑미밥,어묵매운탕,쇠고기숙주볶음
1254,2021-04-09,금,2021.0,4.0,9.0,14.0,1.0,2217.0,0.0,"[쌀밥/흑미밥/찰현미밥, 사골우거지국, 해물누룽지탕, 청포묵*양념간장, 비름나물고추...","[흑미밥, 맑은버섯국, 매운사태조림, 춘권*타르타르D, 열무나물무침, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,사골우거지국,해물누룽지탕,흑미밥,맑은버섯국,매운사태조림

In [151]:
menu_processing(df, '석식_메인')

<ipython-input-150-a78856e6a9a9>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = rice

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인,석식_밥,석식_국,석식_메인
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0,쌀밥/잡곡밥,오징어찌개,쇠불고기,쌀밥/잡곡밥,육개장,자반고등어구이
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...","[콩나물밥*양념장, 어묵국, 유산슬, 아삭고추무침, 바나나, 포기김치]",867.0,560.0,쌀밥/잡곡밥,김치찌개,가자미튀김,콩나물밥*양념장,어묵국,유산슬
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]","[쌀밥/잡곡밥, 청국장찌개, 황태양념구이, 고기전, 새송이버섯볶음, 포기김치]",1017.0,573.0,카레덮밥,팽이장국,치킨핑거,쌀밥/잡곡밥,청국장찌개,황태양념구이
3,2016-02-04,목,2016.0,2.0,4.0,5.0,0.0,2277.0,355.0,"[쌀밥/잡곡밥, 쇠고기무국, 주꾸미볶음, 부추전, 시금치나물, 요구르트, 포기김치]","[미니김밥*겨자장, 우동, 멕시칸샐러드, 군고구마, 무피클, 포기김치]",978.0,525.0,쌀밥/잡곡밥,쇠고기무국,주꾸미볶음,미니김밥*겨자장,우동,멕시칸샐러드
4,2016-02-05,금,2016.0,2.0,5.0,5.0,0.0,2142.0,34.0,"[쌀밥/잡곡밥, 떡국, 돈육씨앗강정, 우엉잡채, 청경채무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 차돌박이찌개, 닭갈비, 감자소세지볶음, 콩나물무침, 포기김치]",925.0,330.0,쌀밥/잡곡밥,떡국,돈육씨앗강정,쌀밥/잡곡밥,차돌박이찌개,닭갈비
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-04-05,월,2021.0,4.0,5.0,14.0,0.0,2343.0,704.0,"[쌀밥/흑미밥/찰현미밥, 쇠고기미역국, 춘천닭갈비, 오지치즈후라이, 가지두반장볶음,...","[흑미밥, 돈육고추장찌개, 갈치구이, 김치전, 취나물무침, 깍두기]",NaN,NaN,쌀밥/흑미밥/찰현미밥,쇠고기미역국,춘천닭갈비,흑미밥,돈육고추장찌개,갈치구이
1251,2021-04-06,화,2021.0,4.0,6.0,14.0,0.0,2363.0,636.0,"[쌀밥/귀리밥/찰현미밥, 순두부백탕, 매콤소갈비찜, 깻잎완자전, 돌나물초장무침, 포...","[추가밥, 짬뽕*생면, 수제찹쌀꿔바로우, 메추리알곤약장조림, 단무지무침, 포기김치]",NaN,NaN,쌀밥/귀리밥/찰현미밥,순두부백탕,매콤소갈비찜,추가밥,짬뽕*생면,수제찹쌀꿔바로우
1252,2021-04-07,수,2021.0,4.0,7.0,14.0,0.0,2329.0,1.0,"[쌀밥/흑미밥/찰현미밥, 냉이국, 돈육간장불고기, 비빔냉면, 오이나물볶음, 겉절이김...","[단호박카레라이스, 시금치된장국, 소떡소떡, 파프리카해초무침, 감귤쥬스, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,냉이국,돈육간장불고기,단호박카레라이스,시금치된장국,소떡소떡
1253,2021-04-08,목,2021.0,4.0,8.0,14.0,0.0,2306.0,509.0,"[쌀밥/옥수수밥/찰현미밥, 맑은떡국, 가자미구이*장, 유채나물무침, 포기김치, 양상...","[흑미밥, 어묵매운탕, 쇠고기숙주볶음, 채소계란찜, 쑥갓생무침, 김치볶음]",NaN,NaN,쌀밥/옥수수밥/찰현미밥,맑은떡국,가자미구이*장,흑미밥,어묵매운탕,쇠고기숙주볶음
1254,2021-04-09,금,2021.0,4.0,9.0,14.0,1.0,2217.0,0.0,"[쌀밥/흑미밥/찰현미밥, 사골우거지국, 해물누룽지탕, 청포묵*양념간장, 비름나물고추...","[흑미밥, 맑은버섯국, 매운사태조림, 춘권*타르타르D, 열무나물무침, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,사골우거지국,해물누룽지탕,흑미밥,맑은버섯국,매운사태조림

In [152]:
#밥, 국은 큰 의미가 없을 것 같으므로 중식_메인, 석식_메인값만 인코딩을 진행해준다
#각 메뉴별 타깃값의 평균값을 구해서 10등분을 하고, 상위 1위부터 1~10까지 순위를 부여하자
import numpy as np #time은 석식
def rank(df, time):
    df_temp = df.copy()
    df_temp = df_temp.dropna(subset=f'{time}계')
    df_temp = df_temp[df_temp[f'{time}계']!=0 | df_temp[f'{time}계'].isna()]
    df_temp2 = df_temp[['일자', f'{time}계', f'{time}_메인']]
    temp = df_temp2.groupby([f'{time}_메인'])[f'{time}계'].mean().reset_index()
    temp = temp.sort_values(by=f'{time}계', ascending=False)
    temp[f'{time}_순위'] = pd.qcut(temp[f'{time}계'], q=10, labels=range(1, 11))
    temp[f'{time}_순위'] = temp[f'{time}_순위'].astype(int)
    df_merged = pd.merge(df_temp, temp[[f'{time}_메인', f'{time}_순위']], on=f'{time}_메인', how='left')
    return df_merged

In [153]:
석식_순위 = rank(df, '석식')[['일자','석식_순위']]
중식_순위 = rank(df, '중식')[['일자','중식_순위']]
df = pd.merge(df, 중식_순위, on='일자', how='left')
df2 = pd.merge(df, 석식_순위, on='일자', how='left')
df2.head(3)

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,...,중식계,석식계,중식_밥,중식_국,중식_메인,석식_밥,석식_국,석식_메인,중식_순위,석식_순위
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]",...,1039.0,331.0,쌀밥/잡곡밥,오징어찌개,쇠불고기,쌀밥/잡곡밥,육개장,자반고등어구이,8.0,2.0
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...",...,867.0,560.0,쌀밥/잡곡밥,김치찌개,가자미튀김,콩나물밥*양념장,어묵국,유산슬,3.0,7.0
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]",...,1017.0,573.0,카레덮밥,팽이장국,치킨핑거,쌀밥/잡곡밥,청국장찌개,황태양념구이,6.0,4.0

In [156]:
df

,일자,요일,년,월,일,주,공휴일_YN,본사근무자수,본사시간외근무명령서승인건수,중식메뉴,석식메뉴,중식계,석식계,중식_밥,중식_국,중식_메인,석식_밥,석식_국,석식_메인,중식_순위
0,2016-02-01,월,2016.0,2.0,1.0,5.0,0.0,2401.0,238.0,"[쌀밥/잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0,쌀밥/잡곡밥,오징어찌개,쇠불고기,쌀밥/잡곡밥,육개장,자반고등어구이,8.0
1,2016-02-02,화,2016.0,2.0,2.0,5.0,0.0,2378.0,319.0,"[쌀밥/잡곡밥, 김치찌개, 가자미튀김, 모둠소세지구이, 마늘쫑무침, 요구르트, 배추...","[콩나물밥*양념장, 어묵국, 유산슬, 아삭고추무침, 바나나, 포기김치]",867.0,560.0,쌀밥/잡곡밥,김치찌개,가자미튀김,콩나물밥*양념장,어묵국,유산슬,3.0
2,2016-02-03,수,2016.0,2.0,3.0,5.0,0.0,2365.0,111.0,"[카레덮밥, 팽이장국, 치킨핑거, 쫄면야채무침, 견과류조림, 요구르트, 포기김치]","[쌀밥/잡곡밥, 청국장찌개, 황태양념구이, 고기전, 새송이버섯볶음, 포기김치]",1017.0,573.0,카레덮밥,팽이장국,치킨핑거,쌀밥/잡곡밥,청국장찌개,황태양념구이,6.0
3,2016-02-04,목,2016.0,2.0,4.0,5.0,0.0,2277.0,355.0,"[쌀밥/잡곡밥, 쇠고기무국, 주꾸미볶음, 부추전, 시금치나물, 요구르트, 포기김치]","[미니김밥*겨자장, 우동, 멕시칸샐러드, 군고구마, 무피클, 포기김치]",978.0,525.0,쌀밥/잡곡밥,쇠고기무국,주꾸미볶음,미니김밥*겨자장,우동,멕시칸샐러드,4.0
4,2016-02-05,금,2016.0,2.0,5.0,5.0,0.0,2142.0,34.0,"[쌀밥/잡곡밥, 떡국, 돈육씨앗강정, 우엉잡채, 청경채무침, 요구르트, 포기김치]","[쌀밥/잡곡밥, 차돌박이찌개, 닭갈비, 감자소세지볶음, 콩나물무침, 포기김치]",925.0,330.0,쌀밥/잡곡밥,떡국,돈육씨앗강정,쌀밥/잡곡밥,차돌박이찌개,닭갈비,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-04-05,월,2021.0,4.0,5.0,14.0,0.0,2343.0,704.0,"[쌀밥/흑미밥/찰현미밥, 쇠고기미역국, 춘천닭갈비, 오지치즈후라이, 가지두반장볶음,...","[흑미밥, 돈육고추장찌개, 갈치구이, 김치전, 취나물무침, 깍두기]",NaN,NaN,쌀밥/흑미밥/찰현미밥,쇠고기미역국,춘천닭갈비,흑미밥,돈육고추장찌개,갈치구이,NaN
1251,2021-04-06,화,2021.0,4.0,6.0,14.0,0.0,2363.0,636.0,"[쌀밥/귀리밥/찰현미밥, 순두부백탕, 매콤소갈비찜, 깻잎완자전, 돌나물초장무침, 포...","[추가밥, 짬뽕*생면, 수제찹쌀꿔바로우, 메추리알곤약장조림, 단무지무침, 포기김치]",NaN,NaN,쌀밥/귀리밥/찰현미밥,순두부백탕,매콤소갈비찜,추가밥,짬뽕*생면,수제찹쌀꿔바로우,NaN
1252,2021-04-07,수,2021.0,4.0,7.0,14.0,0.0,2329.0,1.0,"[쌀밥/흑미밥/찰현미밥, 냉이국, 돈육간장불고기, 비빔냉면, 오이나물볶음, 겉절이김...","[단호박카레라이스, 시금치된장국, 소떡소떡, 파프리카해초무침, 감귤쥬스, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,냉이국,돈육간장불고기,단호박카레라이스,시금치된장국,소떡소떡,NaN
1253,2021-04-08,목,2021.0,4.0,8.0,14.0,0.0,2306.0,509.0,"[쌀밥/옥수수밥/찰현미밥, 맑은떡국, 가자미구이*장, 유채나물무침, 포기김치, 양상...","[흑미밥, 어묵매운탕, 쇠고기숙주볶음, 채소계란찜, 쑥갓생무침, 김치볶음]",NaN,NaN,쌀밥/옥수수밥/찰현미밥,맑은떡국,가자미구이*장,흑미밥,어묵매운탕,쇠고기숙주볶음,NaN
1254,2021-04-09,금,2021.0,4.0,9.0,14.0,1.0,2217.0,0.0,"[쌀밥/흑미밥/찰현미밥, 사골우거지국, 해물누룽지탕, 청포묵*양념간장, 비름나물고추...","[흑미밥, 맑은버섯국, 매운사태조림, 춘권*타르타르D, 열무나물무침, 포기김치]",NaN,NaN,쌀밥/흑미밥/찰현미밥,사골우거지국,해물누룽지탕,흑미밥,맑은버섯국,매운사태조림,NaN

In [159]:
#인코딩에 필요한 값만 남기자
#생각해보니 중식, 석식순위가 타깃값에 매핑되어 누락값이 발생할 수 있다는 점
df['요일'] = df['일자'].dt.dayofweek

In [161]:
df = df[['년', '월', '주', '요일', '공휴일_YN', '본사근무자수', '본사시간외근무명령서승인건수', '중식계', '석식계']]
df

           년    월     주  요일  공휴일_YN  본사근무자수  본사시간외근무명령서승인건수     중식계    석식계
0     2016.0  2.0   5.0   0     0.0  2401.0           238.0  1039.0  331.0
1     2016.0  2.0   5.0   1     0.0  2378.0           319.0   867.0  560.0
2     2016.0  2.0   5.0   2     0.0  2365.0           111.0  1017.0  573.0
3     2016.0  2.0   5.0   3     0.0  2277.0           355.0   978.0  525.0
4     2016.0  2.0   5.0   4     0.0  2142.0            34.0   925.0  330.0
...      ...  ...   ...  ..     ...     ...             ...     ...    ...
1250  2021.0  4.0  14.0   0     0.0  2343.0           704.0     NaN    NaN
1251  2021.0  4.0  14.0   1     0.0  2363.0           636.0     NaN    NaN
1252  2021.0  4.0  14.0   2     0.0  2329.0             1.0     NaN    NaN
1253  2021.0  4.0  14.0   3     0.0  2306.0           509.0     NaN    NaN
1254  2021.0  4.0  14.0   4     1.0  2217.0             0.0     NaN    NaN

[1255 rows x 9 columns]

In [163]:
#X, y 분리
label = ['중식계', '석식계']
y = df[label]
X = df.drop(columns=label)

In [164]:
#train, test셋 분리
X = X[['년', '월', '주', '요일', '공휴일_YN', '본사근무자수', '본사시간외근무명령서승인건수']]
X_train = X.iloc[:1205]
X_test = X.iloc[1205:]
y_train = y.iloc[:1205]
y_test = y.iloc[1205:]

In [ ]:
y_train.tail(3)

         중식계    석식계
1202   579.0  217.0
1203  1145.0  502.0
1204  1015.0  480.0

## 중식계/ 석식계 예측

In [167]:
lunch_X_train = X_train[['년', '월', '주', '요일', '공휴일_YN', '본사근무자수', '본사시간외근무명령서승인건수']]
lunch_X_test = X_test[['년', '월', '주', '요일', '공휴일_YN', '본사근무자수', '본사시간외근무명령서승인건수']]
lunch_y_train = y_train['중식계']
lunch_y_test = y_test['중식계']

In [168]:
dinner_set = df.iloc[:1205]
dinner_set = dinner_set[dinner_set['석식계']!=0]
dinner_X_train = dinner_set[['년', '월', '주', '요일', '공휴일_YN', '본사근무자수', '본사시간외근무명령서승인건수']]
dinner_y_train = dinner_set['석식계']

In [177]:
dinner_X_train = X_train[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수']]
dinner_X_test = X_test[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수']]
dinner_y_train = y_train['석식계']
dinner_y_test = y_test['석식계']

In [169]:
dinner_X_train

           년    월    주  요일  공휴일_YN  본사근무자수  본사시간외근무명령서승인건수
0     2016.0  2.0  5.0   0     0.0  2401.0           238.0
1     2016.0  2.0  5.0   1     0.0  2378.0           319.0
2     2016.0  2.0  5.0   2     0.0  2365.0           111.0
3     2016.0  2.0  5.0   3     0.0  2277.0           355.0
4     2016.0  2.0  5.0   4     0.0  2142.0            34.0
...      ...  ...  ...  ..     ...     ...             ...
1200  2021.0  1.0  3.0   2     0.0  2319.0             4.0
1201  2021.0  1.0  3.0   3     0.0  2309.0           462.0
1202  2021.0  1.0  3.0   4     0.0  2177.0             1.0
1203  2021.0  1.0  4.0   0     0.0  2396.0           616.0
1204  2021.0  1.0  4.0   1     0.0  2369.0           551.0

[1162 rows x 7 columns]

In [173]:
%%time

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor

num_estimators = [100, 500, 1000]
learn_rates = [0.1, 1]
max_depths = [2, 4]
# min_samples_leaf = [5, 10]
min_samples_split = [2, 5]

param_grid = {'n_estimators': num_estimators,
              'learning_rate': learn_rates,
              'max_depth': max_depths,
            #   'min_samples_leaf': min_samples_leaf,
              'min_samples_split': min_samples_split}

grid_search = GridSearchCV(GradientBoostingRegressor(), param_grid, cv=3, return_train_score=True, scoring='neg_mean_absolute_error')
grid_search.fit(lunch_X_train, lunch_y_train)

lunch_gb = GradientBoostingRegressor(**grid_search.best_params_)
lunch_gb.fit(lunch_X_train, lunch_y_train)
lunch_y_preds = lunch_gb.predict(lunch_X_test)

CPU times: user 1min, sys: 0 ns, total: 1min
Wall time: 1min 16s

In [174]:
sub['중식계'] = lunch_y_preds
sub

            일자          중식계  석식계
0   2021-01-27   973.475091    0
1   2021-01-28   974.948775    0
2   2021-01-29   631.189574    0
3   2021-02-01  1264.632608    0
4   2021-02-02  1014.009970    0
5   2021-02-03  1033.903419    0
6   2021-02-04   959.688183    0
7   2021-02-05   709.014628    0
8   2021-02-08  1242.951392    0
9   2021-02-09  1051.043856    0
10  2021-02-10   926.180300    0
11  2021-02-15  1231.564198    0
12  2021-02-16  1115.352063    0
13  2021-02-17   968.192074    0
14  2021-02-18   981.715633    0
15  2021-02-19   722.659242    0
16  2021-02-22  1288.488984    0
17  2021-02-23  1037.278002    0
18  2021-02-24  1015.521016    0
19  2021-02-25   973.283602    0
20  2021-02-26   722.659242    0
21  2021-03-02  1026.097422    0
22  2021-03-03  1023.305735    0
23  2021-03-04   996.895630    0
24  2021-03-05   716.551777    0
25  2021-03-08  1311.321990    0
26  2021-03-09  1183.149052    0
27  2021-03-10  1025.633017    0
28  2021-03-11   962.912773    0
29  2021-03-12   688.981642    0
30  2021-03-15  1290.474532    0
31  2021-03-16   984.263631    0
32  2021-03-17  1050.742526    0
33  2021-03-18   935.063103    0
34  2021-03-19   696.697507    0
35  2021-03-22  1196.309468    0
36  2021-03-23   993.246201    0
37  2021-03-24  1020.441957    0
38  2021-03-25   931.884780    0
39  2021-03-26   646.819926    0
40  2021-03-29  1178.703353    0
41  2021-03-30   985.232808    0
42  2021-03-31  1013.809972    0
43  2021-04-01   853.497069    0
44  2021-04-02   673.149676    0
45  2021-04-05  1180.118091    0
46  2021-04-06   934.752223    0
47  2021-04-07   948.962861    0
48  2021-04-08   874.073758    0
49  2021-04-09   676.026947    0

In [178]:
%%time

num_estimators = [100, 500, 1000]
learn_rates = [0.1, 1]
max_depths = [2, 4]
# min_samples_leaf = [5, 10]
min_samples_split = [2, 5]

param_grid = {'n_estimators': num_estimators,
              'learning_rate': learn_rates,
              'max_depth': max_depths,
            #   'min_samples_leaf': min_samples_leaf,
              'min_samples_split': min_samples_split}

grid_search = GridSearchCV(GradientBoostingRegressor(), param_grid, cv=3, return_train_score=True, scoring='neg_mean_absolute_error')
grid_search.fit(dinner_X_train, dinner_y_train)

dinner_gb = GradientBoostingRegressor(**grid_search.best_params_)
dinner_gb.fit(dinner_X_train, dinner_y_train)
dinner_y_preds = dinner_gb.predict(dinner_X_test)

CPU times: user 51.2 s, sys: 75.1 ms, total: 51.2 s
Wall time: 52.4 s

In [179]:
sub['석식계'] = dinner_y_preds
sub

            일자          중식계         석식계
0   2021-01-27   973.475091  308.053448
1   2021-01-28   974.948775  445.677185
2   2021-01-29   631.189574  288.844696
3   2021-02-01  1264.632608  513.335703
4   2021-02-02  1014.009970  459.678027
5   2021-02-03  1033.903419  308.053448
6   2021-02-04   959.688183  449.126005
7   2021-02-05   709.014628  305.238908
8   2021-02-08  1242.951392  618.924816
9   2021-02-09  1051.043856  543.383162
10  2021-02-10   926.180300  300.094533
11  2021-02-15  1231.564198  680.564817
12  2021-02-16  1115.352063  681.082791
13  2021-02-17   968.192074  344.704911
14  2021-02-18   981.715633  550.441775
15  2021-02-19   722.659242  358.098237
16  2021-02-22  1288.488984  693.476806
17  2021-02-23  1037.278002  652.596544
18  2021-02-24  1015.521016  355.806174
19  2021-02-25   973.283602  550.441775
20  2021-02-26   722.659242  363.517075
21  2021-03-02  1026.097422  652.596544
22  2021-03-03  1023.305735  353.298531
23  2021-03-04   996.895630  611.128603
24  2021-03-05   716.551777  380.871668
25  2021-03-08  1311.321990  783.466828
26  2021-03-09  1183.149052  771.072812
27  2021-03-10  1025.633017  353.298531
28  2021-03-11   962.912773  578.889819
29  2021-03-12   688.981642  367.262762
30  2021-03-15  1290.474532  686.071045
31  2021-03-16   984.263631  611.842052
32  2021-03-17  1050.742526  355.806174
33  2021-03-18   935.063103  520.309276
34  2021-03-19   696.697507  360.587373
35  2021-03-22  1196.309468  615.662412
36  2021-03-23   993.246201  603.268396
37  2021-03-24  1020.441957  344.724875
38  2021-03-25   931.884780  488.305075
39  2021-03-26   646.819926  344.784030
40  2021-03-29  1178.703353  615.662412
41  2021-03-30   985.232808  596.442442
42  2021-03-31  1013.809972  344.724875
43  2021-04-01   853.497069  484.856254
44  2021-04-02   673.149676  352.013717
45  2021-04-05  1180.118091  615.662412
46  2021-04-06   934.752223  603.268396
47  2021-04-07   948.962861  344.724875
48  2021-04-08   874.073758  511.735620
49  2021-04-09   676.026947  345.816139

In [180]:
sub['중식계'] = sub['중식계'].apply(lambda x: round(x, 0))
sub['석식계'] = sub['석식계'].apply(lambda x: round(x, 0))
sub.head(3)

           일자    중식계    석식계
0  2021-01-27  973.0  308.0
1  2021-01-28  975.0  446.0
2  2021-01-29  631.0  289.0

In [181]:
sub.to_csv('/content/drive/Shareddrives/네번째_으싸으싸팀/제출용/훈영_베이스라인.csv', index=False)

# 중식계 예측

In [ ]:
lunch_X_train = X_train[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수', '중식_순위']]
lunch_y_train = y_train['중식계']
lunch_X_test = X_test[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수', '중식_순위']]
lunch_y_test = y_test['중식계']

In [ ]:
#훈련, 검증 데이터 분리하기
import lightgbm as lgb
data = lgb.Dataset(lunch_X_train, label=lunch_y_train)

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(lunch_X_train, lunch_y_train, test_size=0.1, random_state=10)

In [ ]:
import lightgbm as lgb
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error

params = {
    'objective': 'regression_l1', # MAE 최적화
    'metric': 'mae' # 모델 평가 지표
}
model = lgb.train(params, data, num_boost_round=100)

# 예측
y_pred = model.predict(X_valid)

# 평가
mae = mean_absolute_error(y_valid, y_pred)
print('MAE:', mae)

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000133 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 598
[LightGBM] [Info] Number of data points in the train set: 1084, number of used features: 7
[LightGBM] [Info] Start training from score 880.000000
MAE: 39.687634442048655

In [ ]:
X_lunch_test = X_test[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수', '중식_순위']]

In [ ]:
lunch_preds = model.predict(X_lunch_test)
sub['중식계'] = lunch_preds
sub

            일자          중식계  석식계
0   2021-01-27   892.539735    0
1   2021-01-28  1011.309042    0
2   2021-01-29   745.996235    0
3   2021-02-01  1191.018157    0
4   2021-02-02   922.630128    0
5   2021-02-03   945.978269    0
6   2021-02-04   785.229138    0
7   2021-02-05   767.754434    0
8   2021-02-08  1181.891588    0
9   2021-02-09   939.650852    0
10  2021-02-10   828.064767    0
11  2021-02-15  1256.797575    0
12  2021-02-16  1065.607714    0
13  2021-02-17   863.494256    0
14  2021-02-18  1007.427058    0
15  2021-02-19   748.651216    0
16  2021-02-22  1256.448573    0
17  2021-02-23  1071.712456    0
18  2021-02-24  1108.335964    0
19  2021-02-25   957.312773    0
20  2021-02-26   756.524378    0
21  2021-03-02   976.975877    0
22  2021-03-03   966.987611    0
23  2021-03-04   891.885952    0
24  2021-03-05   614.968150    0
25  2021-03-08  1225.561509    0
26  2021-03-09   953.723364    0
27  2021-03-10   874.258624    0
28  2021-03-11   852.209746    0
29  2021-03-12   627.201715    0
30  2021-03-15  1241.820944    0
31  2021-03-16  1014.576473    0
32  2021-03-17   870.512683    0
33  2021-03-18   822.470922    0
34  2021-03-19   726.264537    0
35  2021-03-22  1260.986783    0
36  2021-03-23  1018.099746    0
37  2021-03-24   876.449755    0
38  2021-03-25   781.238046    0
39  2021-03-26   757.982048    0
40  2021-03-29  1171.237434    0
41  2021-03-30   935.759515    0
42  2021-03-31   874.136953    0
43  2021-04-01   759.400412    0
44  2021-04-02   626.223485    0
45  2021-04-05  1196.628760    0
46  2021-04-06   850.653928    0
47  2021-04-07  1081.465152    0
48  2021-04-08   790.918905    0
49  2021-04-09   705.428472    0

##석식계도 예측해보자

In [ ]:
#석식계의 학습 데이터는 석식계가 0인 값을 제외하고 진행한다
df2 = df.iloc[:1205].copy()
df2 = df2[df2['석식계']!=0]
y2 = df2['석식계']
X2 = df2.drop(columns=label)
X2 = X2[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수',
       '석식_순위']]
X2

           년    월    주  요일  본사근무자수  본사시간외근무명령서승인건수  석식_순위
0     2016.0  2.0  5.0   0  2401.0           238.0    2.0
1     2016.0  2.0  5.0   1  2378.0           319.0    7.0
2     2016.0  2.0  5.0   2  2365.0           111.0    4.0
3     2016.0  2.0  5.0   3  2277.0           355.0    8.0
4     2016.0  2.0  5.0   4  2142.0            34.0    5.0
...      ...  ...  ...  ..     ...             ...    ...
1200  2021.0  1.0  3.0   2  2319.0             4.0    3.0
1201  2021.0  1.0  3.0   3  2309.0           462.0    2.0
1202  2021.0  1.0  3.0   4  2177.0             1.0    1.0
1203  2021.0  1.0  4.0   0  2396.0           616.0    5.0
1204  2021.0  1.0  4.0   1  2369.0           551.0    5.0

[1162 rows x 7 columns]

In [ ]:
#훈련, 검증 데이터 분
import lightgbm as lgb
data2 = lgb.Dataset(X2, label=y2)

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X2, y2, test_size=0.1, random_state=10)

In [ ]:
# LightGBM의 데이터셋 정의
train_data = lgb.Dataset(X_train, label=y_train)
valid_data = lgb.Dataset(X_valid, label=y_valid)

# 모델 훈련
params = {
    'objective': 'regression_l1',
    'metric': 'mae'
}
model2 = lgb.train(params, train_data, valid_sets=[valid_data], num_boost_round=100, early_stopping_rounds=10)

# 검증 데이터셋에 대한 예측
y_pred = model.predict(X_valid)

# 평가
mae = mean_absolute_error(y_valid, y_pred)
print('MAE:', mae)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000047 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 598
[LightGBM] [Info] Number of data points in the train set: 1045, number of used features: 7
[LightGBM] [Info] Start training from score 485.500000
[1]	valid_0's l1: 76.2718
Training until validation scores don't improve for 10 rounds
[2]	valid_0's l1: 72.4682
[3]	valid_0's l1: 68.8296
[4]	valid_0's l1: 66.3914
[5]	valid_0's l1: 64.6824
[6]	valid_0's l1: 62.4787
[7]	valid_0's l1: 60.0365
[8]	valid_0's l1: 58.336
[9]	valid_0's l1: 56.7531
[10]	valid_0's l1: 55.0358
[11]	valid_0's l1: 53.5946
[12]	valid_0's l1: 52.2
[13]	valid_0's l1: 50.9265
[14]	valid_0's l1: 49.5713
[15]	valid_0's l1: 48.4257
[16]	valid_0's l1: 47.4096
[17]	valid_0's l1: 46.6562
[18]	valid_0's l1: 46.071
[19]	valid_0's l1: 45.2411
[20]	valid_0's l1: 44.5418
[21]	valid_0's l1: 44.1542
[22]	valid_0's l1: 43.7767
[23]	valid_0's l1: 43.4931
[24]	valid_0's l1: 43.2
[25]	valid_0's l1: 42.7067
[26]	valid_0's l1: 42.4005
[27]	valid_0's l1: 41.7595
[28]	valid_0's l1: 41.4724
[29]	valid_0's l1: 41.167
[30]	valid_0's l1: 40.8826
[31]	valid_0's l1: 40.5634
[32]	valid_0's l1: 40.2493
[33]	valid_0's l1: 40.169
[34]	valid_0's l1: 40.0095
[35]	valid_0's l1: 39.8264
[36]	valid_0's l1: 39.6338
[37]	valid_0's l1: 39.6704
[38]	valid_0's l1: 39.7188
[39]	valid_0's l1: 39.8226
[40]	valid_0's l1: 39.8363
[41]	valid_0's l1: 39.8737
[42]	valid_0's l1: 39.8486
[43]	valid_0's l1: 39.9568
[44]	valid_0's l1: 39.8834
[45]	valid_0's l1: 39.7271
[46]	valid_0's l1: 39.9135
Early stopping, best iteration is:
[36]	valid_0's l1: 39.6338
MAE: 409.6244227190624

/usr/local/lib/python3.9/dist-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "

In [ ]:
X_dinner_test.head(3)

           년    월    주  요일  본사근무자수  본사시간외근무명령서승인건수  석식_순위
1205  2021.0  1.0  4.0   2  2355.0             5.0    NaN
1206  2021.0  1.0  4.0   3  2319.0           409.0    8.0
1207  2021.0  1.0  4.0   4  2170.0             0.0    NaN

In [ ]:
dinner_preds = model.predict(X_dinner_test)
sub['석식계'] = dinner_preds
sub

            일자          중식계          석식계          식계
0   2021-01-27   892.539735   812.826468   812.826468
1   2021-01-28  1011.309042  1012.215765  1012.215765
2   2021-01-29   745.996235   641.867769   641.867769
3   2021-02-01  1191.018157  1159.614168  1159.614168
4   2021-02-02   922.630128  1119.335916  1119.335916
5   2021-02-03   945.978269   870.059164   870.059164
6   2021-02-04   785.229138   785.229138   785.229138
7   2021-02-05   767.754434   793.375115   793.375115
8   2021-02-08  1181.891588  1181.891588  1181.891588
9   2021-02-09   939.650852   939.650852   939.650852
10  2021-02-10   828.064767   904.791960   904.791960
11  2021-02-15  1256.797575  1205.740599  1205.740599
12  2021-02-16  1065.607714   954.623135   954.623135
13  2021-02-17   863.494256   863.494256   863.494256
14  2021-02-18  1007.427058   979.845743   979.845743
15  2021-02-19   748.651216   748.651216   748.651216
16  2021-02-22  1256.448573  1267.143969  1267.143969
17  2021-02-23  1071.712456   972.687528   972.687528
18  2021-02-24  1108.335964   891.600487   891.600487
19  2021-02-25   957.312773   856.381322   856.381322
20  2021-02-26   756.524378   738.928356   738.928356
21  2021-03-02   976.975877   976.975877   976.975877
22  2021-03-03   966.987611   871.932325   871.932325
23  2021-03-04   891.885952   867.315213   867.315213
24  2021-03-05   614.968150   614.968150   614.968150
25  2021-03-08  1225.561509  1179.973110  1179.973110
26  2021-03-09   953.723364   978.294102   978.294102
27  2021-03-10   874.258624   874.258624   874.258624
28  2021-03-11   852.209746   852.209746   852.209746
29  2021-03-12   627.201715   627.201715   627.201715
30  2021-03-15  1241.820944  1202.275097  1202.275097
31  2021-03-16  1014.576473   928.084269   928.084269
32  2021-03-17   870.512683   870.512683   870.512683
33  2021-03-18   822.470922   822.470922   822.470922
34  2021-03-19   726.264537   625.776954   625.776954
35  2021-03-22  1260.986783  1202.660051  1202.660051
36  2021-03-23  1018.099746   932.519458   932.519458
37  2021-03-24   876.449755   949.862440   949.862440
38  2021-03-25   781.238046   864.999409   864.999409
39  2021-03-26   757.982048   608.632979   608.632979
40  2021-03-29  1171.237434  1252.412287  1252.412287
41  2021-03-30   935.759515   935.759515   935.759515
42  2021-03-31   874.136953   874.136953   874.136953
43  2021-04-01   759.400412   759.400412   759.400412
44  2021-04-02   626.223485   733.668368   733.668368
45  2021-04-05  1196.628760  1169.330165  1169.330165
46  2021-04-06   850.653928   850.653928   850.653928
47  2021-04-07  1081.465152   775.309714   775.309714
48  2021-04-08   790.918905   886.847726   886.847726
49  2021-04-09   705.428472   620.880052   620.880052

In [ ]:
sub = sub.iloc[:,:3]
sub.to_csv('/content/drive/Shareddrives/네번째_으싸으싸팀/제출용/훈영_베이스라인.csv', index=False)

In [ ]:
X_dinner_test = X_test[['년', '월', '주', '요일', '본사근무자수', '본사시간외근무명령서승인건수', '석식_순위']]

In [ ]:
lunch_preds = model2.predict(X_dinner_test)
sub['중식계'] = lunch_preds
sub

In [ ]:
%%time
param_grid = {'penalty': ['none'], 'C': [0.001, 0.1, 1]}
logistic_tuning(X_train, y_train, param_grid)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1181: UserWarning: Setting penalty=None will ignore the C and l1_ratio parameters
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1181: UserWarning: Setting penalty=None will ignore the C and l1_ratio parameters
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1181: UserWarning: Setting penalty=None will ignore the C and l1_ratio parameters
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1181: UserWarning: Setting penalty=None will ignore the C and l1_ratio parameters
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1181: UserWarning: Setting penalty=None will ignore the C and l1_ratio parameters
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1181: UserWarning: Setting penalty=None will ignore the C and l1_ratio parameters
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

ValueError: ignored